<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boolzapp</title>
  <link rel="stylesheet" href="./style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://kit.fontawesome.com/f1f0c66429.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="app">
    <div class="backGreen"></div>
    <div class="backGray"></div>

    <div class="container">
      <!-------------------------- SIDEBAR --------------------->
      <section class="sidebar">

        <!----------- header della sidebar ------------->
        <div class="sidebarHeader">

          <!-- Informazioni dell'utente -->
          <div class="userInformations">
            <div class="imageAndName">
              <figure>
                <img src="./img/avatar_3.jpg">
              </figure>
              <span>{{userName}}</span>
            </div>

            <div class="sidebarHeaderIcons">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>

          <!-- Notifiche -->
          <div class="notifications">
            <div class="bellIcon">
              <i class="fa-solid fa-bell-slash"></i>
            </div>

            <div class="notificationsText">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <p>Attiva notifiche desktop</p>
            </div>
          </div>
        </div>

        <!------------- body sidebar --------------->
        <div class="sidebarBody">

          <!-- barra di ricerca contatti -->
          <div class="searchBar">
            <div class="searchBarWrapper">
              <button class="searchIcon"><i class="fa-solid fa-magnifying-glass"></i></button>
              <input type="search" placeholder="Cerca o inizia una nuova chat.." v-model="searchValue"> 
            </div>
          </div>

          <!-- lista di chat -->
          <div class="chatsList">
            <ul>
              <li class="chatContainer"
               :key="index" 
               v-for="(contact, index) in filteredList()"
               :class="{active: index === currentIndex}"
               @click="showActiveChat(index)">
                <div class="imageAndText">
                  <figure>
                    <img :src ="contact.avatar">
                  </figure>
                  <div class="chatText">
                    <h3 class="chatName">{{contact.name}}</h3>
                    <p class="message">{{showLastMessage(index)}}</p>
                  </div>     
                </div>
                <div class="hour">
                  <span>{{showMessageHourList(index)}}</span>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </section>

      <!------------------------- MAIN CHAT --------------------->
      <section class="mainChat">

        <!--------- Header della main chat --------->
        <div class="mainChatHeader">
          <div class="mainChatHeaderWrapper">
            <div class="imageNameAccess">
              <figure>
                <img :src="contacts[currentIndex].avatar">
              </figure>
              <div class="nameAndText">
                <h3 class="name">{{contacts[currentIndex].name}}</h3>
                <p class="text">Ultimo accesso oggi alle 12:00</p>
              </div>
            </div>
            <div class="mainChatIcons">
              <i class="fa-solid fa-magnifying-glass"></i>
              <i class="fa-solid fa-paperclip"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>
        </div>
        
        <!---------- Body della main chat ---------->
        <div class="mainChatBody">

          <div class="messages">
  
            <div 
            v-for="(message,index) in contacts[currentIndex].messages"
            :class="message.status ==='sent' ? 'sent' : 'received'">
              <p>{{message.message}}</p>
              <p class="hour">{{showMessagesHour(index,currentIndex)}}</p>  
            </div>      

          </div>

        </div>

        <!----------- footer della main chat --------->
        <div class="mainChatFooter"> 
          <div class="chatFooterWrapper">
            <div class="emotes">
              <i class="fa-regular fa-face-smile"></i>
            </div>

            <div class="inputMessage">
              <input type="text" placeholder="Scrivi un messaggio"
              v-model="messageSent"
              @keyup.enter ="submit()">
            </div>

            <div class="vocal">
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <script src="./app.js"></script>
</body>

</html>