*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

img {
  max-width: 100%;
  border-radius: 999px;
}

ul,ol,menu {
  list-style: none;
}

figure{
  width: 40px;
}

.container {
  max-width: 1200px;
  border: solid 1px lightgray;
  margin: 0 auto;
  margin-top: 50px;
  height: 90vh;
  display: flex;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.backGreen{
  background-color: #009688;
  height: 10vh;
}

.backGray{
  background-color: #D9DBD4;
  height: 90vh;
}
/******************************** SIDEBAR ****************************/


/********** header della sidebar **************/
.sidebar {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.sidebarHeader {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}

.sidebarHeader .userInformations{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  background-color: #EAEAEA;
  border-right: solid 1px lightgray;
}

.sidebar .imageAndName{
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar .sidebarHeaderIcons{
  display: flex;
  gap: 14px;
  color: #B1B1B1;
  cursor: pointer;
}

.sidebar .notifications {
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0;
}

.notifications .bellIcon{
  background-color: white;
  color:#8EDAFC;
  border-radius: 999px;
  padding: 8px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.notifications .notificationsText{
  font-size: 12px;
}

.notificationsText p:first-child{
  font-weight: 550;
  line-height: 1.5em;
}

.notificationsText p:last-child{
  color: #B1B1B1;
  text-decoration: underline;
  cursor: pointer;
}

/*************** body della sidebar ************/

/* barra di ricerca */
.sidebarBody{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sidebarBody .searchBar{
  padding: 10px 0;
  background-color: #F5F5F5;
}

.searchBar .searchBarWrapper{
  padding: 0 10px;
  display: flex;
}

.searchBar .searchIcon{
  background-color: white;
  padding: 4px 24px;
  font-size: 12px;
  color: #B1B1B1;
  border: solid 0px;
  cursor: pointer;
}

.searchBar input{
  padding: 6px 0;
  flex-grow: 1;
  border: solid 0px ;
  padding-left: 10px;
}

.searchBar input::placeholder{
  padding-left: 6px;
  font-size: 11px;
}

/* lista delle chat */
.chatsList{
  padding: 8px 0;
  overflow-y: scroll;
  flex-grow: 1;
  background-color: white;
}

.chatsList li{
  padding: 10px 10px;
}

.chatsList li:hover{
  background-color:#E9EBEB;
  cursor: pointer;
}

.chatsList li:last-child{
  border-bottom: none;
}

.chatContainer{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
}

.chatContainer.active{
  background-color: #E9EBEB;
}

.chatContainer .imageAndText{
  display: flex;
  gap: 10px;
}

.chatContainer .chatText{
  font-size: 13px;
}

.chatContainer .chatText .chatName{
  margin-bottom: 4px;
}

.chatContainer .chatText .message{
  color: #B1B1B1;
}

.chatContainer .hour{
  font-size: 12px;
  color: #B1B1B1;
}




/************************************ MAIN CHAT *************************/
.mainChat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/************* main chat header *************/
.mainChatHeader .mainChatHeaderWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid lightgray;
  background-color: #EAEAEA;
}

.mainChatHeaderWrapper .imageNameAccess{
  display: flex;
  align-items: center;
  gap: 10px;
}

.imageNameAccess .nameAndText{
  font-size: 13px;
}

.imageNameAccess .nameAndText .name{
  margin-bottom: 4px;
}

.imageNameAccess .nameAndText .text{
  color: #9fa2ac;
}

.mainChatHeaderWrapper .mainChatIcons{
  display: flex;
  gap: 8px;
  margin-right: 10px;
  color: #B1B1B1;
  cursor: pointer;
  font-size: 18px;
}

/************* main chat body *************/

.mainChat .mainChatBody{
  flex-grow: 1;
  background-image: url('./img/mine.jpg');
  overflow-y: scroll;
  
}

.mainChatBody .messages{
  padding:40px 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.messages .dropdown{
  bottom: 0;

}

.mainChatBody .messages .sent,
.mainChatBody .messages .received{
  max-width: 60%;
  padding:10px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
}

.mainChatBody .messages .sent .hour,
.mainChatBody .messages .received .hour{
  align-self: flex-end;
  font-size: 10px;
}

.mainChatBody .messages .sent{
  background-color: #D5F9BA;
  align-self: flex-end;
}

.mainChatBody .messages .received{
  background-color: white;
  align-self: flex-start;
}

/************* main chat footer *************/

.mainChatFooter{
  background-color:#F3EEEA ;
}

.mainChatFooter .chatFooterWrapper{
  display: flex;
  align-items: center;
  padding: 6px 0;
  border-left: solid 1px lightgray;
}

.chatFooterWrapper .emotes,
.chatFooterWrapper .vocal{
  padding:0 20px;
  color: #B1B1B1;
  font-size: 20px;
  cursor: pointer;
}

.chatFooterWrapper .inputMessage{
  flex-grow: 1;
}

.chatFooterWrapper .inputMessage input{
  width: 100%;
  padding: 10px;
  border: solid 1px lightgray;
  border-radius: 6px;
}